<!DOCTYPE HTML>
<head>
	<title>Straviz</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.7.0/metricsgraphics.min.css">
	<style>
		body {
			display: flex;
			flex-direction: column;
			height: 100vh;
			margin: 0;
			padding: 0;
		}

		#map { flex: 1 }

		.plot { 
			display: flex;
			margin: 0 1em;
		}

		body.thumbnail {
			display: block;
		}

		.thumbnail .plot { display: none; }

		.thumbnail #map {
			width: 800px;
			height: 419px;
		}

		.y-label {
			flex: 0;
			margin-top: 75px;
			margin-right: 25px;
			/* Match metricsgraphics X axis label font */
			font-size: 12.8px;
			opacity: 0.6;
			text-transform: uppercase;
		}
		#speed-plot, #elevation-plot { flex: 1; }
	</style>
	{{#thumbnail}}
		<link rel="image_src" href="{{thumbnail}}" />
	{{/thumbnail}}
</head>
<body>
	<div id="map"></div>
	<div class="plot">
		<div class="y-label">Elevation<br>(meters)</div>
		<div id="elevation-plot"></div>
	</div>
	<div class="plot">
		<div class="y-label">Speed<br>(miles per hour)</div>
		<div id="speed-plot"></div>
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.2.1/metricsgraphics.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key={{MAPS_APIKEY}}"></script>
	<script src="minibikemaps.js"></script>
	<script>
		var map = document.getElementById("map");
		new App(loadUrl, map, "#elevation-plot", "#speed-plot").start({{ACTIVITY_ID}});
	</script>
</body>
